.form{
    margin-top: 80px;
    margin-left: 2em;
    width: 417px;
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    opacity: 1;
}

.section__elements{
    margin-left: 2em;
}
.form__title{
    margin-top:50px;
    left:.7em;
    font-size: 34px;
    font-family: "GothamMedium";
    font-weight: 900;
    color: #4D4D4D;
    text-align: start;
}

::-webkit-input-placeholder {
    color:#414141;
    font-size: 14px;
    font-family: "GothamBook";
    }

.form__labels{
    color:#CE225E;
    font-family: "GothamBold";
}

.form__input-titles{
    font-size: 16px;
}

.form__inputs{
    border-radius: 15px;
    border:1.3px solid #CE225E;
    width: 345px;
    height: 35px;
    font-family: "GothamBook";
    font-size: 14px;
    color: #414141;
    opacity: 80%;
}

.form__button{
    border-radius: 15px;
    background-color: #58A5FF;
    width: 345px;
    border: none;
    height: 35px;
    color: white;
    margin-top: 10px;
    font-family: "GothamBold";
    font-size: 16px;
}

.image-roboto{
    width: 70%;
    margin-left: 30px;
}

@media only screen and (min-width: 430px) {

.form{
    position: relative;
    margin-top: 10px;
}    

.form__title{
    margin-top:20px;
    left:1.3em;
    font-size: 34px;
}

.form__inputs{
    width: 505px;
}

.form__button{
    width: 180px;
    height: 35px;
    margin-left: 325px;
}

.image-roboto{
    width: 100%;
}
}


