.submenu{
    display: flex;
    width: 100%;
}

.submenu__links-button{
    width: 100%;    
    display: flex;
    justify-content: space-between;
}

.submenu__links-section{
    display: inline-block;
}

.submenu__links{
    border: none;
}

.submenu__tittle{
    margin: 0;
}

.submenu__line{
    height: 2px;
    width: 90%;
    background-color: #DE2566;
    display: flex;
    position:absolute;
    margin-top: 100px;
    margin-left: 10px;
}

.submenu__save-button{
    border-radius: 15px;
    background-color: #58A5FF;
    border: none;
    height: 35px;
    color: white;
}


