aside {
  position: absolute;
  width: 100%;
  color: white;
  height: 200px;
  background-image: url("../../img/menuBarMobile.png");
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
  left: 0;
  top: 78px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

.debug {
  border: 1px solid blue;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

nav ul li {
  /* margin-top: 1rem; */
  list-style: none;
  margin-top: 1.5rem;
  display: flex;
  
}

nav ul li:nth-child(2) img,
nav ul li:nth-child(3) img {
  margin-left: 0.5rem;
}
nav ul li:first-child img{
  width: 137px;
}

.settings {
  display: none;
}
@media screen and (min-width: 430px){
aside {
  position: absolute;
  width: 192px;
  height: 80%;
  background-image: url("../../img/background-aside.png");
  background-repeat: repeat;
  background-position: center;
  /* background-size: contain; */
  overflow: hidden;
  left: 0;
  top: 78px;
  bottom: 0px;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(223, 70, 70);
}

.debug {
  border: 1px solid blue;
}

nav ul {
  display: flex;
  padding: 1rem;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
}

.aside-link {
  /* margin-top: 1rem; */
  color: white;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.aside-link:nth-child(2) img,
.aside-link:nth-child(3) img {
  margin-left: 0.5rem;
}

.line-separate {
  height: 1px;
  width: 95%;
  background-color: #e1e1e1;
  position: absolute;
  right: 0;
}

.settings {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
}