.aside-menu {
  position:relative;
  color: white;
  background-image: url("../../img/menuBarMobile.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.debug {
  border: 1px solid blue;
}

.aside-menu__settings-title{
  margin: 0;
}
.aside-menu__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: "GothamBold";
}

.aside-menu__list li {
  /* margin-top: 1rem; */
  list-style: none;
  margin-top: 1.5rem;
  display: flex;
}

.aside-menu__list li:nth-child(2) img,
.aside-menu__list li:nth-child(3) img {
  margin-left: 0.5rem;
}
.aside-menu__list li:first-child img{
  width: 137px;
}

.settings {
  display: none;
}


@media screen and (min-width: 430px){
.aside-menu {
  background-image: url("../../img/background-aside.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 756px;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(223, 70, 70);
}

.debug {
  border: 1px solid blue;
}

.aside-menu__list {
  display: flex;
  padding: 40px 16px 16px 16px;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
}

.aside-menu__links {
  text-decoration: none;
  color: white;
  margin-bottom: 31px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.aside-menu__links:link{
  text-decoration: none;
  color: white;
}
.aside-menu__links:hover{
  text-decoration: none;
  color: white;
}
.aside-menu__links:nth-child(2) img,
.aside-menu__links:nth-child(3) img {
  margin-left:2px ;
}
.aside-menu__links:nth-child(2),
.aside-menu__links:nth-child(3){
  margin-right: 2px;
}
.aside-menu__settings {
  height: 0.5px;
  width: 95%;
  margin-left: 5%;
  background-color: #e1e1e1;
}
.aside-menu__settings-img {
  display: flex;
  padding: 26px;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
}