.main-header {
  height: 78px;
  display: flex;
  box-shadow: 0px 6px 14px #00000026;
  justify-content: space-between;
  color: #ce225e;
  padding-inline: 1rem;
}
.main-header__logo{
  width: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/logoMobile.svg") ;
}

.header-logo img{
  display: none;
}
.main-header__menu{
 display: flex;
 gap: 29px;
 justify-content: center;
 align-items: center;

}
.main-header__user-notifications{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  order: -1;
}
.main-header__menu-img{
  width: 21px;
  height: 21px;
}
.main-header__dropdown-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row-reverse;
}
.main-header__bar {
  height: 30px;
  width: 1px;
  background-color: #00000026;
}
.main-header__user{
  margin: 0;
  font-family: "GothamMedium";
}

@media screen and (min-width: 430px){

.main-header__logo {
  width: 166px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/logo.png") ;
}
.main-header__user-notifications{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  order: 1;
}
.main-header__dropdown-menu{
  flex-direction: row;
}
.header-logo img {
  display: flex;
  width: 146px;
  margin-top: 0px;
}
/* utilidades */
.debug {
  border: 1px solid red;
}
.main-header__user{
  margin: 0;
}
}
