body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "GothamBold";
  src: local("GothamBold"),
  url("./fonts/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamBook";
  src: local("GothamBook"),
  url("./fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: "GothamBookItalic";
  src: local("GothamBookItalic"),
  url("./fonts/Gotham-BookItalic.otf") format("opentype");
}

@font-face {
  font-family: "GothamLight";
  src: local("GothamLight"),
  url("./fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "GothamMedium";
  src: local("GothamMedium"),
  url("./fonts/Gotham-Medium.otf") format("opentype");
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tex-center{
  text-align: center;
}
